version: '3.8'
services:
  api:
    build: ./app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
